@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2C3930;
  color: #DCD7C9;
  margin: 0;
}

.main-container {
  width: 90%;
  margin: 5% 5% 0 5%;
}

.sticky-container {
  position: fixed;
  width: 45%;
}

.name {
  color: #A27B5C;
  font-size: xxx-large;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}
/*
.kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}
*/
.status {
  font-size: xx-large;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
    margin: 2% 0;
}

.intro {
  width: 70%;
  font-size: x-large;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.refs {
  margin-top: 10%;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 2px;
}

.scrollable-container {
  padding-left: 45%;
  width: 55%;
}

.description {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
  letter-spacing: 1px;
  line-height: 1.5;
  word-spacing: 2px;
}
